@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>The homonymic relationship of "micro" and "Mike Rowe" made me laugh...so I decided to run with it.</p>
<p>There are plenty of micro blog sites in the world, but only one dedicated to America's favorite TV show host, Mike Rowe.</p>
<p>Congratulations. You've found it!</p>
